doctype html
include includes/head.pug
  // custom js
  script(defer='' src='../../JS.js')
include includes/nav.pug
main
  // header,first section
  section.header-my-profile
    div
      h2
        | My History
  // end myhistort tabele,seacond section
  section.offerCard
    table
      thead
        tr
          th Date
          th City
          th Address
          th From Currency
          th To Currency
          th Amount
      tbody
        each transaction in transactions
          tr
            td= transaction.date.toLocaleDateString()
            td= transaction.city
            td= transaction.address
            td= transaction.from_currency_code
            td= transaction.to_currency_code
            td= transaction.amount
  // end myhistort tabele
  // end header
include includes/footer.pug
