doctype html
include includes/head.pug
include includes/nav.pug
main
  // header, first section
section.header-my-profile
  div
    h2 My Profile
section.my-profile-card
  .left-side
    i.fa.fa-2x.fa-user-circle(aria-hidden='true')
    h2 #{user.name} #{user.last_name}
  .middle-side
    h2 Contact Info
    h3 email 
    p #{user.email}
    h3 phone number
    p #{user.phone_number}
    h3 birthdate
    p #{user.birthdate.toLocaleDateString()}
    //- h2 Exchange Times
    //- p #{user.exchange_times}
    //- h2 Sum Exchanges
    //- p #{user.sum_exchanges}
    //- h2 Money Saving (according to Bank of America fee)
    //- p #{user.money_saving}
  .right-side
    .Edit-button
      a(href='/EditProfilePage') Edit
// end header
include includes/footer.pug
